
.fa {
    color: blue;
    font-size: 1.55em;
    margin: 10px;
}

.fa-github {
    color: black;
}

.fa-dribbble {
    color: purple;
}

.fa-linkedin {
    color: blue;
}

.logo1 {
    width: 200px;
    border: 2px solid #fff;
    background: url(https://cdn2.iconfinder.com/data/icons/avatar-2/512/Fred_man-512.png) no-repeat;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    height:200px;
}
.para
{
    width:75%;
    margin: auto;
    padding-top: 1em;
}



.contact-body {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 400px;
    background: white;
    color: black;
    margin-bottom: 20px;
}

.contact-grid h2 {
    font-family: "Anton", sans-serif;
}

.contact-grid p {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}