.event {
    text-align: center;
    width: 100%;
}

.allevents {
    margin-top: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

.rowe {
    display: flex;
}

.cole1 {
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 8px 10px grey;
    margin-bottom: 50px;
    margin: 30px;
}

.evepic {
    height: 300px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.event-content {
    margin: 30px;
    text-align: justify;
    align-self: center;
}
