.footer {
    height: 250px;
    background-color: rgb(48, 22, 139);
    background-size: cover;
}

.col1 {
    margin-top: -120px;
    margin-left: 50%;
}

.col2 {
    margin-top: -170px;
    margin-left: 75%;
}

.icons {
    margin-left: 5%;
}
