.footer-black{
    background-color: black;
}
.credits{
 padding-top: 5%;
}
.social
{
    margin-left: 5%;
    float: left;
    color:white;
}

.social1{
    margin-right: 5%;
    float: right;
    color:white;
    justify-content: right;

}

.foot{
    flex-shrink: 1;
}
.copyright
{
    margin:0 30%;
    color: white;
}