@media only screen and (min-width:601px)
{
.footer-black{
    background-color: black;
    bottom: 0;
    width: 100%;
}
}
.credits{
 padding-top: 5%;
}
.social
{
    margin-left: 3%;
    float: left;
    color:white;
}

.social1{
    margin-right: 4%;
    float: right;
    color:white;
    justify-content: right;

}

.foot{
    flex-shrink: 1;
}
.copyright
{
    margin:0 30%;
    color: white;
}
.he
{
    margin-right:2%;
}
@media only screen and (max-width:600px)
{
    .footer-black{
        position:relative;
        background-color: black;
        bottom:0;
        width:100%;
    }
}