.Hamburger a {
    text-decoration: none;
    color: #2e33ff;
    font-size: 14px;
    padding: 6px 20px;
   }
.registerIcon  {
  padding-right: 10px;
  vertical-align: middle;
}
h3 {
border: none;
font-size: 12px;
letter-spacing: 1px;
line-height: 20px;
font-weight: 300;
margin: 0;
padding: 0 15px;
background: #b6bac5;
color: rgba(255,255,255,.7);
}
