.btn
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin: 5px;
    padding: 5px;
    background-color: burlywood;
    text-decoration-color: aqua;
    text-decoration: underline;
    color: initial;
}
.fa
{
    /* width:10px; */
    /* height: 10px; */
    /* size: 100px; */
    color:blue;
    font-size: 1.55em;
    margin:10px;


}
.fa-github
{
    color:black;
}
.fa-dribbble
{
    color:purple;
}
.fa-linkedin
{
    color:blue;
}
.logo1
{
    width: 200px;
    height: 400px;
    border:2px solid #fff;
    background: url(https://cdn2.iconfinder.com/data/icons/avatar-2/512/Fred_man-512.png) no-repeat;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}
/* .box
{
        /* align-content: center; */
        /* height: 700px; */
        /* width: 35%; */
        /* border: 1px solid black; */
        /* align-self: center; */
        /* align-items:center; */
        /* align-content: center; */
        /* padding: 10px; */
        /* margin: 10px; */
        /* text-align: center; */
      
/* } */ 